.table__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.table__row {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.header__center {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.div__center {
    display: flex;
    justify-content: center;
}

.button {
    background: #000;
    color: #FFFF;
    border-radius: 20px;
    height: 30px;
    width: 250px;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}

.image {
    width: 250px;
    height: 150px;
}

.align__name__price {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: rgba(2, 0, 1, 0.82);
}


.image__container {
    position: relative;
    display: inline-block;
}

.discount {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #880fd9;
    color: white;
    padding: 6px;
    border-radius: 24px;
    width: 20%;
    text-align: center;
}

table {
    width: 100%;
    font-family: sans-serif;
}

h1 {
    color: rgba(2, 0, 1, 0.82);
    font-size: 45px;
}

.pagination {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.pagination--button{
    background: #000;
    color: #FFFF;
    border-radius: 20px;
    height: 30px;
    width: 50px;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.pagination__span {
    font-weight: bold;
    display: flex;
    align-items: center;
}
